<footer class="bg-dark text-white py-4 mt-5 d-flex flex-column">
  <div class="container">
    <div class="row">
      <!-- Footer Column 1 -->
      <div class="col-md-4">
        <h5 class="text-warning">About Us</h5>
        <p class="text-warning">
          ჩვენ ვართ ის ხალხი ვისაც უყვარს სპორტი.
        </p>
      </div>

      <!-- Footer Column 2 -->
      <div class="col-md-4">
        <h5 class="text-warning">Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="/" class="text-warning">Home</a></li>
          <li><a href="/" class="text-warning">Category</a></li>
          <li><a href="/web_login" class="text-warning">login</a></li>
        </ul>
      </div>

      <!-- Footer Column 3 -->
      <div class="col-md-4">
        <h5 class="text-warning">Contact</h5>
        <p class="text-warning">Email: contact@example.com</p>
        <p class="text-warning"> Phone: +123 456 789</p>
      </div>
    </div>

    <!-- Sponsor Section -->
    <div class="row mt-4">
      <div class="col-12 text-center">
        <h5 class="text-warning">Sponsored by :</h5>
        <div class="d-flex justify-content-center">
          <div>
            <img src="/static/თიბისი.png" alt="Sponsor" style="width: 200px; height: auto;">
          </div>
        </div>
      </div>
    </div>

    <!-- Footer Bottom Section -->
    <div class="row mt-4">
      <div class="col-12 text-center">
        <p class="text-warning">&copy; 2024 Your Company. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
